
/* CSS for login and register web pages */
/* -------------------------------------------------------------------------------- */
form{
	border: 10px solid #f1f1f1;
	text-align: center;
	width: 50%;
	padding: 50px;
	display: inline-block;

}

Body{
	text-align: center;
}

.LogInHead, .RegisterHead{
	text-align: left;
}

input [type=text], input [type=password]{
	width: 50%;
	padding: 12px 12px;
	margin: 8px 0px;
	display:inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button{
	background-color:#4CAF50;
	color:white;
	padding:14px 20px;
	margin:8px 0px;
	border:none;
	cursor:pointer;
	width:20%;
}

button:hover{
	opacity:0.8px;
}

.Img_Container{
	text-align: center;
	margin: 24px 0 12px 0;
	padding:50px;
}

LogInImg{
	width: 40%;
	border-radius: 50%;
}

.LogInCon, .RegisterCon{
	padding: 16px;
	text-align: center;
}
/* -------------------------------------------------------------------------------- */
/* CSS FOR SHOPPING AREA PAGE */

Row1{

}

Row2{

}

Row3{

}

Row4{

}

Row5{

}

/*------------------------------------------------------------------------------*/
