<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
		<script src="/js/Javascript.js"></script>
		<title> Log In </title>
	</head>

	<div class="Body">

			<div class="Img_Container">
 			<img src="img/Shopping_Basket.png" alt="Shopping Basket" class="LogInImg">
		</div>

		<form action="auth" method ="post">
			<div id="LogInHead">
				<h1><u> Log In </u> </h1>
			</div>

			<div class="LogInCon">
				<label for="userlbl"><b>E-mail:</b></label>
				<input type="text" placeholder="Enter Username" name="UserName" required>

				<br>


			<label for ="Passwdlbl"><b>Password:</b></label>
			<input type="password" placeholder="Enter Password" name="Password" id="userpasswd" required>
			<br>

		<input type="checkbox" onclick="Toggle()"> Show Password

		<br>


	<button onclick="window.location.href='Shopping_Area.ejs'" type="Submit">Log In </button>


		<label>
			<input type ="Checkbox" checked="checked" name="remember"> Remember Me
		</label>

		<button onclick="window.location.href='Register.ejs'">Register</button>

	</div>
	</form>


	</div>


</html>
