<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
		<script src="/js/Javascript.js"></script>
		<title> Log In </title>
	</head>

	<div class="Body">

		<br>


	<button onclick="window.location.href='/views/login.ejs'">Log In </button>




		<button onclick="window.location.href='/views/Register.ejs'">Register</button>

	</div>
	</form>


	</div>


</html>
