<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shopping Area</title>
    <script src="/js/Javascript.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
  </head>
  <body>
    Hi
    <div id ="navbar">
      <a href="#">Groceries</a>
      <a href="#">Checkout</a>
    </div>
  <div id ="TableFruit">
  <table>

    <%
    if product_data_fruits




    <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>

    </table>
  </div>

  </body>


</html>
