<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shopping Area</title>
    <script src="/js/Javascript.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css"/>
  </head>
  <body>
    Hi
    <div id ="navbar">
      <a href="#">Groceries</a>
      <a href="#">Checkout</a>
    </div>
  <div id ="TableFruit">
  <table>

    <%
    if (product_data_fruits.length!=0){
      var i = 1
      product_data_fruits.forEach(function(data){
        %>






    <tr>
        <td><%=i; %></td><td><%=data.product_name%><%=data.Best Price%><%=data.Supplier%></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td><td></td><td></td>
      </tr>
      <%  i++; }) %>
      <% } else{ %>
        <tr>
          <td>Data Not Displaying </td>
        </tr>
                <% } %>

    </table>
  </div>

  </body>


</html>
